@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --cor_principal: #FCFFFA;
    --cor_banner: #3DCD58;
    --cor_banner_opacity: #3dcd5765;
    --cor_botao: #4CDE17;
    --cor_fundo_menu: #2F2F2F;
    --cor_fonte_principal: #000000;
    --cor_fonte_menu: #FCEEFA;
    --cor_fundo_post: #E3FFE0;
    --fonte_principal:'Inter', sans-serif;
    --option_error: #cf1212;
    --option_error_opacity: #cf12127a;
}

body{
    background-color: var(--cor_principal);
    font-family: var(--fonte_principal);
    color: var(--cor_fonte_principal);
    width: 100vw;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: row;
    background-color: var(--cor_banner);

}
main{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.banner_top{
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    justify-content: space-between;

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.banner_titulo{
    font-size: 25px;
    font-weight: 700;
    margin: 0 4rem;
    text-align: center;
}

.imagem_perfil{
    height: 40px;
    width: 40px;
    border-radius: 90px;
    
}
.post{
    background-color: var(--cor_fundo_post);
    border-radius: 10px;
    text-align: center;
}

.img_post{
    height: 80px;
    width: auto;
    object-fit: cover;
}
.post_header{
    display: flex;
    justify-content: space-around;

}
.foto_perfil_post{
    height: 40px;
    width: 40px;
    border-radius: 90px;
}
/*Botão Input Files*/

input[type="file"] {
    display: none;
}



/*Estrela do Feed*/
.bi-star{
    font-size: 1.5rem;
    color:black;
}
.bi-star-fill{
    font-size: 1.5rem;
    color:#FFEB35;
}


@media (min-width: 768px){
    .banner_titulo{
        margin: 0 16.25rem;
    }
    .lista_menu{
    left: -5%;
    }    
}


@media (min-width: 1200px){
    .banner_titulo{
        margin: 0 2rem;
    }
    .botao_menu_hamburguer,.menu_rotulo{
        display: none;
    }
    .elementos_menu{
        display: block;
        align-items: center;
    }
    .lista_menu{
        display: inline-flex;
        position: unset;
        width: auto;
        list-style-type: none;
    }
    .lista_elemento{
        padding: 1rem 2rem 0 0;
        background-color: var(--cor_banner);
        font-size: 25px;
        display: inline-flex;
    }
    .lista_elemento_link{
        font-family: var(--fonte_principal);
        background: var(--cor_fonte_principal);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .lista_elemento_link:hover{
        -webkit-text-fill-color: var(--cor_fonte_principal);
    }
    
}

/* Games */
.option{
    padding: 5px;
    border: 1px solid #3f3f3f4f;
    border-radius: 5px;
}
.option:hover{
    background-color: var(--cor_banner_opacity);
    border-color: var(--cor_banner);
    transition-duration: 1s;
}
.option.option_success{
    background-color: var(--cor_banner_opacity);
    border-color: var(--cor_banner);
}

.option.option_error{
    background-color: var(--option_error_opacity);
    border-color: var(--option_error);
}

.option.disable_hover{
    pointer-events: none;  
    opacity: 0.2;
}

.game_area{
    padding: 0%;
    margin: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_title{
    margin: 0px;
    padding: 5px;
    text-align: center;
    background-color: #e4e4e46b;
    border-radius: 10px;
}
.game_area.desc{
    background-image: url(../img/EcoEducation.png);
}
.game_area.title{
    background-image: url(../img/Logic.png);
}

/* Games */

.game_forca_bg{
    background-image: url(../img/forcaPB.png);
    background-position: start;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.game_forca_bg .label{
    position: absolute;
    bottom: 0%;

}

.text_area{
    padding: 5px;
    text-align: center;
    box-shadow: 0px 6px 6px 1px #6666;
    border: none;
    border-radius: 5px;
}
.text_area:focus {
    outline: none;
}