.container{
    height: 447px;
    width: 1113px;
    margin: 0px 50px ;
}
#logo{
    background-color: #3DCD58;
    font-family: arial, verdana, tahoma;
    text-align: center;
    color: black;
}
.rounded-circle{
    width: 350px;
    height: 300px;
    margin-left: 380px;
}
.floresta{
    width: 1117px;
    height: 447px;
    margin-bottom: -400px;
    margin-top: -10px;
}
.botao{
    width: 100px;
    height: 100px;
    margin-top: -200px;
    margin-left: -700px;
    margin-bottom: 50px;
}
#nome{
    color:white;
    margin-left: 400px;
    margin-bottom: 50px;
    font-size: 50px;
}
p{
    color: black;
    font-size: 25px;
}
#salvar{
    background-color: #4CDE17;
    color: black;
    text-decoration: none;
    border: 1px solid #4CDE17;
    border-radius: 5px;
    padding: 10px 150px;
    margin-left: 350px;

}
input{
    border-radius: 5px;
    background-color:#EBE5D6;
    width: 350px;
}
#descricao{
    font-size: 25px;
    background-color:#EBE5D6;
}
#botao_salvar{
    background-color: #4CDE17;
    border: 0px;
    font-weight: bold;
}