@import url(./style.css);

.footer_container{
    margin-top: 19.125rem;
}


.div_logos{
    padding-top: 4rem;
}


@media (min-width: 768px){
   .div_logos{
    padding-top: 2rem;}
}
.img-fluid {
    max-width: 90%;
}

@media (min-width: 1200px){
    .div_logos{
    padding-top: 10rem;}
}
