@import url(./style.css);

.footer_container{
    margin-top: 19.125rem;
}


.div_logos{
    padding-top: 7rem;
}

@media (min-width: 360px) {
    .div_logos {
        padding-top: 11rem;
    }
}

@media (min-width: 410px) {
    .div_logos {
        padding-top: 14rem;
    }
}

@media (min-width: 820px) {
    .div_logos {
        padding-top: 22rem;
    }
}
@media (min-width: 910px) {
    .div_logos {
        padding-top: 31rem;
    }
}

@media (min-width: 1200px){
    .div_logos{
    padding-top: 10rem;}
}
