
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --cor_principal: #FCFFFA;
    --cor_banner: #3DCD58;
    --cor_botao: #4CDE17;
    --cor_fonte_principal: #000000;
    --cor_fonte_menu: #FCEEFA;
    --fonte_principal:'Inter', sans-serif;
}

body{
    background-color: var(--cor_principal);
    font-family: var(--fonte_principal);
    color: var(--cor_fonte_principal);
    overflow-x: hidden;
}



.navbar{
    --bs-navbar-padding-y: 0;
}

.banner_top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: var(--cor_banner);
}

.topbar{
    background-color: var(--cor_banner);
}


.login_img{
    height: 150px;
    width: 150px;
    border-radius: 90px;
}
.password{
    margin-top: 0.5rem;
    width: 70%;
    max-width: 18.375rem;
    height: 1.5rem;
    background-color: #EBE5D6;
    border-radius: 7px;
}
.password_forgot_container{
    margin: 0.5rem 3.5rem;
}
.password_forgot{
    text-decoration: none;
    color: #8A8A8A;
    font-size: 10px;
}




/* Sobre o Projeto*/

#container-tamanho{
    max-width: 960px;
    
}
#video-sobre-o-projeto {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
#responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#title-container{
    max-width: 800px;
    margin: auto;
}

#integrante{
    background-color: #C2BCC7;
}


/*Perfil do Armando*/
.imagem_de_fundo{
    background-size: 960px 300px;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.imagem_de_fundo_1{
    background-image: url(../img/arvore.jpg);
    background-size: 960px 300px;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/*Perfil da Maria Luiza*/
.imagem_de_fundo_2{
    background-image: url(../img/summer-country-road.jpg);
    background-size: 960px 300px;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/*Perfil do Paulo*/
.imagem_de_fundo_3{
    background-image: url(../img/reserve-na-biblioteca-com-livro-aberto.jpg);
    background-size: 960px 300px;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*Perfil da Bianca*/
.imagem_de_fundo_4{
    background-image: url(../img/bandeira_bianca.jpg);
    background-size: 960px 300px;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#nome_perfil{
    color: white;
}
